* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none !important;
    -webkit-touch-callout: none !important;
    user-select: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: $color-background;
    font-size: 1rem;
    line-height: 1.6;
    color: #000;
    height: 100%;
    width: 100%;

    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.btn-default {
    // Layout
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;

    // Appearance
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;

    // Functionality
    outline: none;

    // Colors
    background-color: $color-zoom-button;
    color: $color-text-dark;

    &.primary {
        background-color: $color-primary;
        border-color: $color-primary;
        color: $color-white;
    }

    &.red {
        background-color: $color-red;
        border-color: $color-red;
        color: $color-white;
    }

    &.green {
        background-color: $color-green;
        border-color: $color-green;
        color: $color-white;
    }

    &:active {
        background: lighten($color-primary, 10);
        border-color: lighten($color-primary, 10);
    }
}

.btn-circle {
    // Border
    //border: solid 1px $color-border;
    border: none;
    border-radius: 50%;

    // Size
    padding: 0px;
    // margin: 6px 8px;
    width: 58px;
    height: 58px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-rectangle {
    // Border
    //border: solid 1px $color-border;
    border: none;
    border-radius: 12px;

    // Size
    padding: 0 22px;
    // margin: 6px 8px;
    min-width: 93px;
    height: 58px;
}
