* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-touch-callout: none !important;
    scrollbar-width: thin;

    &::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
        background-color: $color-primary;
    }
}

body {
    font-family: 'Lato', sans-serif;
    background-color: $color-background;
    font-size: 1rem;
    line-height: 1.6;
    color: #000;
    height: 100%;
    width: 100%;

    position: fixed;
}

a {
    text-decoration: none;
}
